<div class="clock-wrapper black-border">
<div class="clock-analog">
    <div class="source"></div>
    <div class="day daylabel"><span>{{day}}</span></div>
    
    <div class="hand hour-hand" [ngStyle]="{'transform':'rotate('+hourHandPosition+'deg)'}"></div>
    <div class="hand min-hand" [ngStyle]="{'transform':'rotate('+minuteHandPosition+'deg)'}"></div>
    <div class="hand sec-hand" [ngStyle]="{'transform':'rotate('+secondHandPosition+'deg)'}"></div>
<span *ngFor="let digit of digits" class="digit digit-{{digit}}" [ngStyle]="{'transform':'rotate('+digit*30+'deg)'}">
   <b [ngStyle]="{'transform':'rotate(-'+digit*30+'deg)'}"> {{digit}}</b>
</span>
</div>
</div>
